<?xml version="1.0"?>
<config>
    <modules>
        <Misc_ProductSlider>
            <version>0.1.0</version>
        </Misc_ProductSlider>
    </modules>
    <adminhtml>
    <layout>
           <updates>
               <productslider>
                  <file>productslider.xml</file>
               </productslider>
           </updates>
       </layout>
   </adminhtml> 
    <frontend>
        <routers>
            <productslider>
                <use>standard</use>
                <args>
                    <module>Misc_ProductSlider</module>
                    <frontName>productslider</frontName>
                </args>
            </productslider>
        </routers>
        <layout>
            <updates>
                <productslider>
                    <file>productslider.xml</file>
                </productslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <productslider>
                <class>Misc_ProductSlider_Model</class>
                <resourceModel>productslider_mysql4</resourceModel>
            </productslider>
            <productslider_mysql4>
                <class>Misc_ProductSlider_Model_Mysql4</class>
            </productslider_mysql4>
        </models>
        <resources>
            <productslider_setup>
                <setup>
                    <module>Misc_ProductSlider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productslider_setup>
            <productslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productslider_write>
            <productslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productslider_read>
        </resources>
        <blocks>
            <productslider>
                <class>Misc_ProductSlider_Block</class>
            </productslider>
        </blocks>
        <helpers>
            <productslider>
                <class>Misc_ProductSlider_Helper</class>
            </productslider>
        </helpers>
    </global>
</config>
